/* Remove all existing styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Apply a black gradient background to the screen */
body {
  height: 100vh;
  background: linear-gradient(black, #333);
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Arial, sans-serif;
  color: rgba(0, 0, 0, 0);
  text-align: center;
}
